<header class="header-container">
  <a class="header-logo" routerLink="/">
    <img class="logo-img" src="/assets/logo.png" alt="Logo Senai Cimatec" />
  </a>

  <div class="header-actions">
    @if (!isAuthenticated()) {
      <a class="header-login-btn" routerLink="/login">
        <i class="fa-regular fa-user"></i>
        <span class="login-text">Entrar como Funcionario</span>
      </a>
    }
    
    @if (isAuthenticated()) {
      <a class="header-dashboard-btn" routerLink="/dashboard">
        <i class="fa-regular fa-chart-bar"></i>
        <span class="dashboard-text">Dashboard</span>
      </a>
      
      <button class="header-logout-btn" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="logout-text">Sair</span>
      </button>
    }
  </div>
</header>