<div class="login">
  <section class="content-left">
    <img src="/assets/banner-login.png" alt="">
  </section>

  <section class="content-right">
    <div class="form-img">
      <img src="/assets/logo.png" alt="">
    </div>

    <form action="" class="form-login">
      <div class="form-item">
        <label for="email">Email</label>
        <input type="email">
      </div>

      <div class="form-item">
        <label for="senha">Senha</label>
        <input type="password">
      </div>

      <div class="form-btn-group">
        <button routerLink="/" type="submit" class="login-btn">Entrar</button>
        <a routerLink="" class="forgot-password">Esqueci a senha</a>
      </div>
    </form>
  </section>
</div>